[submodule "themes/noteworthy-mod"]
	path = themes/noteworthy-mod
	url = https://github.com/jinreal/hugo-theme-noteworthy
[submodule "static/images/mod"]
	path = static/images/mod
	url = git@github.com:tetconst/mod.git
[submodule "static/images/orig"]
	path = static/images/orig
	url = git@github.com:tetconst/orig.git
