<!-- The shortcode functionality - in layouts/shortcodes/img.html -->
<div class="picture">
    {{ if .Get "caption"}}
    <figure>
    {{ end }}
      <picture>
        <!-- Fallback -->
        <img
          src="{{ .Get "src" }}.{{ .Get "type" }}"
          src-set="{{ .Get "src" }}.{{ .Get "type" }} 256w,
                   {{ .Get "src" }}@2x.{{ .Get "type" }} 512w"
          sizes="(max-width: 400px) 256px,
                512px"
          alt="{{ .Get "alt" }}"{{ if .Get "caption"}} class="img-fluid figure-img"{{ end }}>
      </picture>
    {{ if .Get "caption"}}
      <figcaption>{{ .Get "caption" }}</figcaption>
    </figure>
    {{ end }}
  </div>